Repository k5-mot/devbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-pyright, py-pytest, ts-biome-format, ts-biome-lint, ts-tsc-type-check, ts-vitest, ts-vite-build

.pre-commit-config.yaml:

repos:
  # -------------------------
  # Python: Ruff
  # -------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      # Format
      - id: ruff-format
        name: PY ruff_format
        files: "^api/.*\\.py$"
      # Lint
      - id: ruff
        name: PY ruff_lint
        args: ["--fix"]
        files: "^api/.*\\.py$"

  - repo: local
    hooks:
      - id: py-pyright
        name: PY pyright_type_check
        entry: bash -c "cd api && uv run --no-env-file -- pyright --project . --warnings"
        language: system
        types: [python]
        pass_filenames: false
        files: "^api/"

      - id: py-pytest
        name: PY pytest
        entry: bash -c "cd api && uv run --no-env-file -- pytest -q"
        language: system
        files: "^api/"
        pass_filenames: false

  # -------------------------
  # TypeScript/React: Biome
  # -------------------------
  - repo: local
    hooks:
      - id: ts-biome-format
        name: TS biome_format
        entry: bash -c "cd app && pnpm run format"
        language: system
        files: "^app/.*\\.(ts|tsx|js|jsx|json)$"

      - id: ts-biome-lint
        name: TS biome_lint
        entry: bash -c "cd app && pnpm run lint"
        language: system
        files: "^app/.*\\.(ts|tsx|js|jsx|json)$"

      - id: ts-tsc-type-check
        name: TS tsc_type_check
        entry: bash -c "cd app && pnpm run type"
        language: system
        files: "^app/.*\\.(ts|tsx|js|jsx)$"
        pass_filenames: false

      - id: ts-vitest
        name: TS vitest
        entry: bash -c "cd app && pnpm run test:ci"
        language: system
        files: "^app/"
        pass_filenames: false

      - id: ts-vite-build
        name: TS vite_build
        entry: bash -c "cd app && pnpm run build"
        language: system
        files: "^app/"
        pass_filenames: false

feat(frontend): update app tooling, tests and tsconfigs
  app/index.html
  app/package.json
  app/pnpm-lock.yaml
  app/test/sample.test.ts
  app/tsconfig.app.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/vite.config.ts
  app/vitest.config.ts
Due: ts-biome-format, ts-biome-lint, ts-tsc-type-check, ts-vitest, ts-vite-build

feat(backend): add tests and update pyproject/uvicorn lock
  api/main.py
  api/pyproject.toml
  api/tests/__init__.py
  api/tests/test_main.py
  api/uv.lock
Due: py-pyright, py-pytest

chore(config): expand Copilot terminal whitelist for safe lint/format/type-check/build commands
  .vscode/settings.json
Due: none

設定: Copilot ターミナル自動承認ホワイトリストを安全に拡張
  .devcontainer/postCreate.sh
  .vscode/settings.json
Due: none

ci(開発環境): 👷 GitHub Actionsを修正
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  api/.gitignore
  api/main.py
  api/pyproject.toml
  api/uv.lock
Due: py-pyright, py-pytest

ci(開発環境): 👷 GitLab CICDを修正
  .gitlab-ci.yml
Due: none

ci(開発環境): 👷 GitLab CICDのレポートの有効期限を設定
  .gitlab-ci.yml
Due: none

ci(開発環境): 👷 GitLab CICDをファイル分割
  .gitlab-ci.yml
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/standard.md
  api/.gitlab-ci.yml
  api/pyproject.toml
  app/.gitlab-ci.yml
Due: py-pytest, ts-vitest, ts-vite-build

ci(開発環境): 👷 GitHub Actionsワークフローをファイル分割
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

ci(開発環境): 👷 GitLab CICDのstageを細かく分割
  .gitlab-ci.yml
  api/.gitlab-ci.yml
  app/.gitlab-ci.yml
Due: py-pytest, ts-vitest, ts-vite-build

feat(フロントエンド): ✨ FEを修正
  .codex/config.toml
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
  README.md
  app/.gitignore
  app/.gitlab-ci.yml
  app/package.json
  app/pnpm-lock.yaml
  app/src/App.tsx
Due: ts-biome-format, ts-biome-lint, ts-tsc-type-check, ts-vitest, ts-vite-build

feat(バックエンド): ✨ BEを修正
  .claude/settings.json
  .taplo.toml
  .vscode/settings.json
  api/main.py
  api/pyproject.toml
  api/src/__init__.py
  api/src/mypack/__init__.py
  api/src/mypack/sample.py
  api/uv.lock
Due: py-pyright, py-pytest

A
  .devcontainer/devcontainer.json
  .markdownlint.json
  .vscode/settings.json
  SETUP.md
Due: none

A
  .devcontainer/devcontainer.json
  .devcontainer/features/npm/install.sh
  .devcontainer/postCreate.sh
  .markdownlint.json
  .serena/.gitignore
  .serena/project.yml
  .taplo.toml
  SETUP.md
  api/.serena/project.yml
  app/.serena/.gitignore
  css-styling-comparison-2025.md
Due: py-pytest, ts-vitest, ts-vite-build

chore: remove deprecated api and app directories
  .github/instructions/10-frontend.instructions.md
  .github/instructions/11-components.instructions.md
  .github/instructions/12-design-token.instructions.md
  .github/instructions/13-icons.instructions.md
  .github/instructions/20-backend.instructions.md
  api/.gitignore
  api/.python-version
  api/README.md
  api/main.py
  api/pyproject.toml
  api/uv.lock
  app/.gitignore
  app/README.md
  app/index.html
  app/package.json
  app/pnpm-lock.yaml
  app/pnpm-workspace.yaml
  app/public/vite.svg
  app/src/App.css
  app/src/App.tsx
  app/src/assets/react.svg
  app/src/index.css
  app/src/main.tsx
  app/tsconfig.app.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/vite.config.ts
Due: py-pyright, py-pytest, ts-biome-format, ts-biome-lint, ts-tsc-type-check, ts-vitest, ts-vite-build

chore: setup project foundation and documentation
  .gitignore
  .gitmodules
  CLAUDE.md
  README.md
  doc/SETUP.md
  doc/TODO.md
  doc/css-styling-comparison-2025.md
Due: none

chore: configure devcontainer and development tools
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/features/aws-sam-cli/README.md
  .devcontainer/features/aws-sam-cli/devcontainer-feature.json
  .devcontainer/features/aws-sam-cli/install.sh
  .devcontainer/features/cargo/README.md
  .devcontainer/features/cargo/devcontainer-feature.json
  .devcontainer/features/cargo/install.sh
  .devcontainer/features/helix/README.md
  .devcontainer/features/helix/devcontainer-feature.json
  .devcontainer/features/helix/install.sh
  .devcontainer/features/npm/README.md
  .devcontainer/features/npm/install.sh
  .devcontainer/initialize.sh
  .devcontainer/postCreate.sh
  .devcontainer/postStart.sh
  .mcp.json
  .vscode/settings.json
Due: none

chore: add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/merge_request_templates/standard.md
Due: none

chore: setup Claude Code and Serena MCP server
  .claude/settings.json
  .claude/settings.user.json
  .claude/statusline.py
  .codex/config.toml
  .serena/.gitignore
  .serena/memories/architecture.md
  .serena/memories/backend-dev-guide.md
  .serena/memories/cicd-rules.md
  .serena/memories/coding-conventions.md
  .serena/memories/deployment.md
  .serena/memories/dev-environment.md
  .serena/memories/frontend-dev-guide.md
  .serena/memories/git-branch-rules.md
  .serena/memories/infrastructure.md
  .serena/project.yml
Due: none

feat: add Python backend template
  .pre-commit-config.yaml
  biome.jsonc
  changelog.config.js
  python-template/.claude/settings.local.json
  python-template/.env.sample
  python-template/.gitlab-ci.yml
  python-template/.python-version
  python-template/README.md
  python-template/pyproject.toml
  python-template/sample_pack/__init__.py
  python-template/sample_pack/main.py
  python-template/sample_pack/sample.py
  python-template/tests/__init__.py
  python-template/tests/test_main.py
  python-template/uv.lock
Due: none

feat: add Next.js DaisyUI template
  next-daisyui-template/.gitignore
  next-daisyui-template/.gitlab-ci.yml
  next-daisyui-template/README.md
  next-daisyui-template/app/favicon.ico
  next-daisyui-template/app/globals.css
  next-daisyui-template/app/layout.tsx
  next-daisyui-template/app/page.tsx
  next-daisyui-template/biome.jsonc
  next-daisyui-template/next.config.ts
  next-daisyui-template/package.json
  next-daisyui-template/pnpm-lock.yaml
  next-daisyui-template/pnpm-workspace.yaml
  next-daisyui-template/postcss.config.mjs
  next-daisyui-template/public/file.svg
  next-daisyui-template/public/globe.svg
  next-daisyui-template/public/next.svg
  next-daisyui-template/public/vercel.svg
  next-daisyui-template/public/window.svg
  next-daisyui-template/test/sample.test.ts
  next-daisyui-template/tsconfig.json
Due: none

feat: add Vite Serendie frontend template
  vite-serendie-template/.gitignore
  vite-serendie-template/.gitlab-ci.yml
  vite-serendie-template/README.md
  vite-serendie-template/biome.jsonc
  vite-serendie-template/eslint.config.js
  vite-serendie-template/index.html
  vite-serendie-template/package.json
  vite-serendie-template/pnpm-lock.yaml
  vite-serendie-template/pnpm-workspace.yaml
  vite-serendie-template/public/vite.svg
  vite-serendie-template/src/App.css
  vite-serendie-template/src/App.tsx
  vite-serendie-template/src/assets/react.svg
  vite-serendie-template/src/index.css
  vite-serendie-template/src/main.tsx
  vite-serendie-template/test/sample.test.ts
  vite-serendie-template/tsconfig.app.json
  vite-serendie-template/tsconfig.json
  vite-serendie-template/tsconfig.node.json
  vite-serendie-template/vite.config.ts
Due: none

ci: setup GitLab CI/CD pipeline
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .gitlab-ci.yml
Due: none

docs(github): update GitHub instructions
  .github/instructions/00-general.instructions.md
Due: none

chore(docs): move setup and TODO into repository structure
  .serena/memories/setup-guide.md
  TODO.md
Due: none

feat(cloud): update Claude settings and CLAUDE.md
  .claude/settings.json
  CLAUDE.md
Due: none

chore(devcontainer): update devcontainer configuration and scripts
  .devcontainer/devcontainer.json
  .devcontainer/initialize.sh
  .devcontainer/postCreate.sh
  .devcontainer/postStart.sh
Due: none

chore(vscode): update workspace settings
  .vscode/settings.json
Due: none

docs(setup): update Serena setup guide
  .serena/memories/setup-guide.md
Due: none

chore: remove .gitmodules
  .gitmodules
Due: none

chore(agent-skills): centralize SKILLs under .claude/skills and document maintenance
  .claude/skills/branch-cleanup/SKILL.md
  .claude/skills/commit-msg-lint/SKILL.md
  .claude/skills/pr-policy/SKILL.md
  .github/skills/README.md
  docs/agent-skills.md
Due: none

feat(agent-skills): consolidate git skills into canonical .claude/skills/git-reference and add docs/git-reference.md
  .claude/skills/branch-cleanup/SKILL.md
  .claude/skills/commit-msg-lint/SKILL.md
  .claude/skills/git-reference/SKILL.md
  .claude/skills/pr-policy/SKILL.md
  .github/skills/README.md
  docs/agent-skills.md
  docs/git-reference.md
Due: none

refactor(skills): adopt .claude/skills/git-rules with REFERENCE.md as canonical; add index README and update docs
  .claude/skills/README.md
  .claude/skills/git-reference/SKILL.md
  .claude/skills/git-rules/REFERENCE.md
  .claude/skills/git-rules/SKILL.md
  docs/git-reference.md
Due: none

docs(git-rules): restructure REFERENCE.md, add development flow and rebase/fast-forward guidance
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): add references, adoption reasons, semver tagging, Scrum rules, GitHub Flow note, and --force-with-lease guidance
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): align branch naming with GitHub Flow (use short descriptive topic branches; feature/* optional)
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): add GitHub Issues運用および branch-issue naming guidance
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): add top-level development flow overview (Issue→branch→commit→PR→review→rebase→merge→release)
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): reorganize and renumber sections; clarify dev flow, Conventional Commits, issues, hotfix policy and force-with-lease guidance
  .claude/skills/git-rules/REFERENCE.md
Due: none

docs(git-rules): add CLI examples for full dev flow; clarify sections to reference flow; detail commit type/scope meanings; add Decision Records; normalize parentheses
  .claude/skills/git-rules/REFERENCE.md
Due: none
